<div class="paginas">
    <div style="color: black;">
        <h2>Tarjetas Disponibles</h2>
    </div>
    <br>
    <br>



    <div *ngFor="let card of cards" class="border-bottom border-top">
        <h2 style="color:black;">{{card.name}}</h2>
        <div class="giftcard">
            <div *ngFor="let item of card.availability" class="box">
                <div class="glass"></div>
                <div class="content">
                    <figure>
                        <img src="{{ card.image }}" alt="">
                    </figure>
                    <h4>$ {{value[item-1].total}}
                        <a type="button" (click)='prueba()'>
                            <span></span>
                            <span></span>
                            <strong>Comprar</strong>
                            <span></span>
                            <span></span>
                        </a>
                    </h4>

                </div>
            </div>
        </div>

    </div>
</div>