<div *ngFor="let card of cards" class="column">
    <div class="giftcard">
        <h2>{{card.name}}</h2>
        <br>
        <div *ngFor="let item of card.availability" class="box">
            <div class="glass"></div>
            <div class="content">
                <figure>
                    <img src="{{ card.image }}" alt="">
                </figure>
                <h2>$ {{value[item-1].total}}
                    <a type="button" (click)='prueba()'>
                        <span></span>
                        <span></span>
                        <strong>Comprar</strong>
                        <span></span>
                        <span></span>
                    </a>
                </h2>

            </div>
        </div>

    </div>

</div>