<section>

    <div class="box">
        <div class="form">
            <h2>Registro</h2>
            <form>
                <div class="inputBx">
                    <input type="text" placeholder="Usuario">
                    <img src="../../../assets/img/user.png" alt="">
                </div>

                <div class="inputBx">
                    <input type="text" placeholder="Correo">
                    <img src="../../../assets/img/user.png" alt="">
                </div>

                <div class="inputBx">
                    <input type="text" placeholder="Nombre">
                    <img src="../../../assets/img/user.png" alt="">
                </div>

                <div class="inputBx">
                    <input type="text" placeholder="Apellido">
                    <img src="../../../assets/img/user.png" alt="">
                </div>

                <div class="inputBx">
                    <input type="text" placeholder="DPI">
                    <img src="../../../assets/img/user.png" alt="">
                </div>

                <div class="inputBx">
                    <input type="text" placeholder="Edad">
                    <img src="../../../assets/img/user.png" alt="">
                </div>

                <div class="inputBx">
                    <input type="password" placeholder="Contrasenia">
                    <img src="../../../assets/img/lock.png" alt="">
                </div>

                <div class="inputBx">
                    <input type="password" placeholder="Repetir Contrasenia">
                    <img src="../../../assets/img/lock.png" alt="">
                </div>


                <div class="inputBx">
                    <a type="submit">
                        <span></span>
                        <span></span> <strong>Crear Cuenta</strong>
                        <span></span>
                        <span></span>
                    </a>
                </div>

            </form>
            <p>Ya tienes una cuenta?

            </p>
            <a href="/login">
                <span></span>
                <span></span> Ingresa
                <span></span>
                <span></span>
            </a>
        </div>
    </div>


</section>