<div class="sidebar">
    <ul>
        <li>
            <a routerLink="/home"><i class="fas fa-home"></i>Home</a>
        </li>
        <li>
            <a routerLink="/profile"> <i class="fas fa-user-tie"></i>Mi Perfil</a>
        </li>
        <li><a routerLink="/mycards"><i class="fas fa-credit-card"></i>Mis Tarjetas</a> </li>
        <li><a routerLink="/home"><i class="fas fa-gift"></i>Regalar Tarjeta</a> </li>
        <li><a routerLink="/history"><i class="fas fa-history"></i>Mi Historial</a> </li>
        <li><a routerLink="/pay"><i class="fas fa-money-bill"></i>Pago de Tarjetas</a> </li>

    </ul>
</div>