<div class="sidebar">
    <ul>
        <li>
            <a routerLink="/home"><em class="fas fa-home"></em> Home</a>
        </li>
        <li>
            <a routerLink="/profile"> <em class="fas fa-user-tie"></em> Mi Perfil</a>
        </li>
        <li><a routerLink="/mycards"><em class="fas fa-credit-card"></em> Mis Tarjetas</a> </li>
        <li><a routerLink="/home"><em class="fas fa-gift"></em> Regalar Tarjeta</a> </li>
        <li><a routerLink="/history"><em class="fas fa-history"></em> Mi Historial</a> </li>
        <li><a routerLink="/pay"><em class="fas fa-money-bill"></em> Pago de Tarjetas</a> </li>

    </ul>
</div>