<div class="paginas">

    <div class="d-flex justify-content-center">
        <h1>
            Pago de Tarjetas
        </h1>
    </div>
    <br>


    <div class="row justify-content-md-center">
        <div class="col-md-7 ">
            <div class="card card-body ">

                <table class="table table-striped">
                    <caption><strong>Total ${{Total}}</strong></caption>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col">Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = 'let item of detalle; let i = index'> 
                            <th scope="row">{{i+1}}</th>
                            <td>{{item.nombre}}</td>
                            <td>${{item.valor}}</td>
                            <td>{{ item.cantidad }}</td>
                            <td>${{ item.cantidad * item.valor }}</td>
                            <td><button (click)='eliminar(i)' class="btn btn-danger"><i class="fa fa-trash-alt"></i></button></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <br>

    <div>
        <form ngNativeValidate [formGroup] = 'forma' (ngSubmit) = 'registrarTarjetaCredito()' >
            <div class="row justify-content-md-center">
                <div class="col-md-7">
                    <div class="card card-body ">
                        <div class="row">
                            <div class="col-sm-8 col-xs-8">

                                <div class="form-group">
                                    <label>No. Tarjeta</label>
                                    <input formControlName="noTarjeta" name="noTarjeta" type="number" class="form-control" placeholder="No. Tarjeta" required>
                                    <span style="color:red;" *ngIf="!tarjeta">La Tarjeta no es Valida</span>
                                </div>
                                <div class="form-group">
                                    <label>Nombre en la Tarjeta</label>
                                    <input formControlName="nameCard" name="nameCard" type="text" class="form-control" placeholder="Nombre en la Tarjeta" required>
                                </div>
                                <div class="form-group">
                                    <label>Fecha Expiracion(MM/YY)</label>
                                    <input formControlName="expirationDate" name="expirationDate" type="text" class="form-control" placeholder="MM/YY" required>
                                </div>

                                <div class="form-group">
                                    <label>Codigo Verificador</label>
                                    <input formControlName="verifierCode" name="verifierCode" type="number" class="form-control" placeholder="Codigo Verificador" required>
                                    <span style="color:red;" *ngIf="!codigo">El codigo no es valido</span>
                                </div>

                                <div class="form-group">
                                    <label>Moneda de pago</label>
                                    <select formControlName="moneda" name="monedas" class="form-control" required>
                                        <option *ngFor="let item of monedasDePago; let i = index" >
                                            {{ item.name }}
                                        </option>
                                    </select>
                                </div>

                                <div *ngIf="obtenerInfoMoneda().value3">
                                    <label>Tasa de Cambio: <span style="color:green"><strong>{{obtenerInfoMoneda().value2}}{{ obtenerInfoMoneda().value }}</strong></span></label>
                                </div>

                                <div>
                                    <label>Total a Pagar: <span style="color:green"><strong>{{obtenerInfoMoneda().value2}}{{ obtenerInfoMoneda().value * Total }}</strong></span></label>
                                </div>


                                <div>
                                    <button type="submit" class="btn btn-success btn-lg ">
                                        <em class="fas fa-money-bill"></em> Pagar
                                    </button>
                                </div>


                            </div>
           

                        </div>



                    </div>
                </div>

 
            </div>



        </form>
    </div>


</div>